* {
    /* does not take space, but border does */
    box-sizing: border-box;
}

main, footer {
    font-family: 'Cabin', sans-serif;
}

header {
    font-family: 'Raleway', sans-serif;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    background: rgb(249, 253, 249);
}

li {
    display: inline-block;
    padding: 0.2em;
    font-weight: bold;
}

.nav-left {
    width: 60%;
}

nav {
    height: 2.5em;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.nav-link {
    text-decoration: none;
    color: gray;
    font-size: 0.9em;
}

a:hover {
    font-style: italic;
}

#headline-container {
    background-image: url(images/mountain.jpg);
    background-size: cover;
    background-position: center;
    height: 600px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.headline {
    margin: auto;
    text-align: center;
    width: 80%;
    font-size: 32px;
    color: white;
    text-shadow: 1px 1px 4px black;
}

h2 {
    text-align: center;
    padding: 20px;
    font-size: 32px;
    color: rgba(7, 32, 3, 0.76);
}

#intro {
    background: rgb(249, 253, 249);
}

#intro div p {
    margin: 0% 10%;
    padding: 10px;
    font-size: 18px;
    line-height: 24px;
    color: gray;
    font-weight: light;
}

#projects {
    background-color: rgba(207, 214, 203, 0.671);
}

.project-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.project-item {
    width: 80%;
    height: 400px;
    text-align: center;
    border: solid 1px lightgray;
    color: white;
    background: rgb(249, 253, 249);
}

.screenshot-1 {
    background-image: url(images/everest.jpg);
    background-size: cover;
    background-position: center;
}

.screenshot-2 {
    background-image: url(images/open-garden.jpg);
    background-size: cover;
    background-position: center;
}

.screenshot-3 {
    background-image: url(images/for-drizzle.jpg);
    background-size: cover;
    background-position: center;
}

.screenshot-4 {
    background-image: url(images/worldmap-hand.jpg);
    background-size: cover;
    background-position: center;
}

.project-title {
    font-size: 26px;
    color: white;
    text-decoration: none;
}

.github {
    color: white;
}

.project-item > p {
    padding-top: 20px;
    padding-bottom: 20px;
}

.project-description {
    font-size: 18px;
    line-height: 24px;
    margin: 0 20%;
}

.project-tech {
    font-size: 18px;
    line-height: 24px;
    margin: 0 20%;
}

footer {
    padding: 50px;
    background-color: rgba(43, 59, 34, 0.658);
    color: white;
    text-align: center;
    width: 100%;
}

@media only screen and (min-width: 320px) {
    .project-list {
        flex-direction: row;
    }

    #intro div p {
        margin: 0% 15%;
  }
}

@media only screen and (min-width: 415px) {
    li {
        padding: 0.3em;
    }

    .nav-link {
        font-size: 0.9em;
    }
}

@media only screen and (min-width: 640px) {
    .project-item {
        width: 40%;
    }

    li {
        padding: 1em;
    }

    .nav-link {
        font-size: 1.2em;
    }
}

@media only screen and (min-width: 1600px) {
    .project-list {
        flex-direction: row;
    }

    #intro div p {
        margin: 0% 30%;
    }
}